*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile-img img{
    height: 350px;
    width: 350px;   
    float: right;
    margin-top: 100px;
}





.github a{
    color: #ffffff;
    text-decoration: none;
    
}

.github-button{
    overflow: auto;
   
 }